
/* header style */
header{
    display: block;
    height: 8.5rem;
}
.header-top{
    background-color: black;
    height: 40px;
}
.btn1{
    border: none;
}
/* search */

.search{
    padding-top: 20px;
    border-radius: 20px;
    margin: auto;
}

.search_group{
    width: 50%;
}

/* sidebar style */
.sidebar-title{
    display:flex;
}
.sidebar-title > h5{
    float: right;
}  
.sidebar-title.i{
    float :left;
}


/* cart */
.cart{
   margin-right: 2rem;
}
.cart_icon{
    font-size: 2rem;
    margin-right: 0.5rem;
}
.cart_text{
    width: 10%;
    font-size: 1rem;
}

/* user */

.user_icon{
    color: aliceblue;
    font-size: 2rem;
}
.btn_user{
    border: 2px white;
}
/* logo */
.logo_img{
    width: 5rem;
    margin-right: 2rem;
}
.logo_text{
    font-size: 2rem;
    color: aliceblue;
}

.dropdown-item{
    margin-bottom: 20px;
}
.dropdown-menu{
    padding: 10px;
}
/* lọc */
.select_group{
    display: flex;
    width: 100px;
}



/* san pham */

.card{
    width: 100%;
}

/* dang nhap */


.login-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-group{
    width: 30%;
    margin-top: 2rem;
}
.login-top{
    margin-top: 2rem;
}
.login-top h1{
    display: flex;
    justify-content: center;
}
.login-bottom{
    margin-top: 20px;
}

/* trang thong tin user */
.info-group{
    width: 500px;
    padding: 20px;
}
.avt-block{
    display: flex;
    justify-content: center;
}
.avt{
    font-size: 10rem;
}
.name h3{
    margin-top: 20px;
    text-align: center;
}
.info_center h4{
    text-align: center;
}
.info_center .info{
    margin-left: 120px;
}

